body {
    background-color: white;
    color:black;
    line-height: 26px;
    background-image: url(../../../../Downloads/winter.jpg);
    background-size: 1400px;
    margin: 0 auto;
}

.container {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}


h1 {
    font-size: 40px;
    margin-bottom: 20px;
}


.ava {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid blue;
    
}
p {
    font-size: 18px;
    color: gray;
    margin: 20px 0;
}
table,th, tr {
    width: 800px;
    border: 1px, black, solid; 
    border-collapse: collapse;


}